<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Message</title>
    </head>
    <body>
        hi
        <form action="/new" method="POST">
            <label for="">Message: <input name="messageText" type="text" id="message" /></label>
            <label for="">Name: <input name="messageName" type="text" id="name" /></label>
            <button type="submit">Send</button>
        </form>
    </body>
</html>
