<form action="message/<%- id %>" method="GET">
    <li>
        <p><%- text %></p>
        <p>user: <%- user %></p>
        <p>added: <%- added %></p>
        <button type="submit">Details</button>
    </li>
</form>
